@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: 'GmarketSansMedium';
}
div.body{
	width:100%;
}
div.left{
	width:30%;
	float : left;
	
}
div.right{
	width: 70%;
    float: right;
}
.topInfo{
	display:inline-block;
}

.card{
	display:inline-block;
	margin: 0 auto;
}